@keyframes rainbow{
    0%, 100% {background-position: 82% 0%;}
    50% {background-position: 0% 82%;}
}

* {
    box-sizing: border-box;
}

input[type=submit] {
    background: linear-gradient(to right, #f0c27b, #4b1248);
    animation: rainbow 5s ease-in-out infinite;
    background-size: 1800% 1800%;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.loomatyypTable{

}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    /*gradient*/
    background: linear-gradient(90deg, rgba(245,1,1,1) 1%, rgba(255,158,0,1) 17%, rgba(249,255,0,1) 34%, rgba(78,255,0,1) 51%, rgba(0,236,255,1) 68%, rgba(0,35,255,1) 85%, rgba(136,0,255,1) 100%);
    animation: rainbow 10s ease-in-out infinite;
    margin-top: 20px;
    border: solid 1px;
    background-size: 1800% 1800%;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 50%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 50%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

#drawing{
    width: 500px;
    height: 500px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card, section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}